/* variables */
:root {
  --primary-color: #ff6b00;
  --secondary-color: #f7f7f7;
  --dark-color: #333;
  --darker-color: #222;
  --light-color: #fff;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-color);
  background-color: var(--light-color);
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 1rem;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.nav-container .menu-items {
  display: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
ul {
  list-style: none;
}

/* HEADER SECTION */
header {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem 6rem;
  background-color: var(--dark-color);
  color: var(--light-color);
}
header .header-text {
  order: -1;
  width: 86%;
}

.header-social-icons {
  display: flex;
  width: 100%;
}
.header-social-icons ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-left: 36px;
  order: 2;
}
.header-illustration {
  width: 100%;
}
.header-illustration .mobile-only {
  order: 0;
  position: absolute;
  float: right;
  right: 0;
  top: 28%;
}

header .header-illustration-images .header-illustration .desktop-only {
  display: none;
}
/* Button hover effects and animations */
button,
a {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button:hover,
a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: scale(1.05);
}

button:active,
a:active {
  transform: scale(0.95);
}

/* RECENT WORKS */
.works-container {
  width: 100%;
}
#recent-works {
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding: 7.5rem 2rem;
  background-color: var(--secondary-color);
}

/* fonts */
header .header-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 120%;
  color: var(--primary-color);
  font-family: 'Crete Round', serif;
  font-weight: 400;
}
header .header-text h4 {
  font-family: 'Roboto', serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}
header .header-text p {
  font-family: 'Poppins', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}
.header-social-icons ul li {
  font-size: 1.5rem;
}

/* WORKS SECTION */
.works-heading h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 120%;
  color: var(--dark-color);
  font-family: 'Crete Round', serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.works-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 50px;
}
.works-top-section {
  margin-bottom: 20px;
}
.works-top-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 120%;
  color: #091e42;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  margin-top: 30px;
}
.works-top-section p {
  font-family: 'Inter Tight', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #091e42;
}
.courses-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.courses-container div {
  border: 1px solid #091e42;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  color: #091e42;
  margin-bottom: 20px;
}
.works-button-1 a {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 50px;
}

.works-card-container {
  margin-top: 50px;
}

.image-4 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.image-1,
.image-2,
.image-3,
.image-5,
.image-6 {
  display: none;
}
.image-4 {
  display: grid;
}
.image-4 h2 {
  margin-top: -300px;
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 130%;
  color: var(--light-color);
  font-family: 'Crete Round', serif;
  font-weight: 400;
  padding-left: 20px;
}
.image-4 p {
  font-family: 'Inter Tight', serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--light-color);
  padding-left: 20px;
  width: 80%;
}
.image-4 .card-content-course {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--light-color);
}
.image-4 .card-content-course div {
  border: 1px solid var(--light-color);
  padding: 0.5rem 0.5rem;
  font-weight: 400;
  color: var(--light-color);
  margin-bottom: 20px;
}
.works-button-2 {
  width: 100%;
  display: flex;
}
.image-4 a {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

/* ABOUT SECTION */
.about-me-container {
  margin-top: 50px;
  padding: 7.5rem 2rem 10rem;
  background: var(--darker-color);
}
.about-me-text h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  line-height: 120%;
  color: var(--primary-color);
  font-family: 'Crete Round', serif;
  font-weight: 400;
  text-align: center;
}
.about-me-text p {
  font-family: 'Inter Tight', serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--light-color);
}
.resume-button a {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 50px;
}
.about-me-image img {
  width: 25%;
  height: auto;
  position: relative;
  float: right;
  right: 0;
  top: -50px;
}
.skill-container {
  margin-top: 0;
  background: var(--darker-color);
  text-align: center;
  padding-top: 20px;
}
.skill-container div {
  padding: 1rem;
  background: var(--darker-color);
  color: var(--light-color);
  border-radius: 10px;
}

/* CONTACT SECTION */
#contact-container {
  margin-top: 10px;
  padding: 2rem 2rem;
  background: var(--secondary-color);
  width: 100%;
}
#contact-container h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 120%;
  color: #172b4d;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  text-align: center;
  padding: 1rem 1rem;
}
.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem 1rem;
  background: var(--secondary-color);
  width: 100%;
}
.form-container input,
.form-container textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #091e42;
  margin-bottom: 1rem;
}
.form-container button {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  width: 50%;
  margin: 1% auto;
}

/* FOOTER SECTION */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--dark-color);
  color: var(--light-color);
}
footer p {
  font-size: 1rem;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* mobile styles */

/* tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .header-social-icons {
    margin-left: 50px;
  }
  .image-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 43%;
    justify-items: center;
  }
  .image-4 {
    display: inline-block;
  }
  .about-me-image img {
    position: relative;
    width: 25%;
    height: auto;
    float: right;
    right: 0;
    top: -100px;
  }
  .skill-container {
    background: var(--darker-color);
    text-align: center;
    padding-top: 160px;
  }
  .image-4 a {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    width: 327px;
    margin-left: 12px;
  }
  .form-container {
    width: 80%;
    margin: 0 auto;
  }
  .form-container input,
  .form-container textarea {
    margin-bottom: 0px;
  }
  .form-container button {
    width: 30%;
  }
}
/* desktop styles */
@media screen and (min-width: 1024px) {
  .card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    width: 100%;
    justify-items: center;
  }
  .image-4 {
    display: none;
  }
  .card-content img {
    display: inline-block;
  }
  .header-illustration .desktop-only {
    display: block;
  }
  .header-illustration .mobile-only {
    display: none;
  }
  .works-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  .works-card-container .card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 10px;
  }
  .works-card-container .card-content img {
    border-radius: 10px 10px 0 0;
  }
  .works-card-container .card-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 130%;
    color: var(--light-color);
    font-family: 'Crete Round', serif;
    font-weight: 400;
  }
  .works-card-container .card-content p {
    font-family: 'Inter Tight', serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--light-color);
  }
  .works-card-container .card-content .card-content-course {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .works-card-container .card-content .card-content-course div {
    border: 1px solid var(--light-color);
    padding: 0.5rem 0.5rem;
    font-weight: 400;
    color: var(--light-color);
    margin-bottom: 20px;
  }
  .works-card-container .card-content a {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    font-weight: 600;
  }
}
